@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Oswald', sans-serif;
}

img {
    max-width: 100%;
}

a {
    color: currentColor;
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1000px;
}

.list_wrapper {
    row-gap: 3rem;
    column-gap: 1rem;
    display: grid;
    padding: 1rem 0;
    grid-template-columns: repeat(2, 1fr);
}

.list_item {
    text-align: center;
}

.list_item .img_wrapper {
    overflow: hidden;
    aspect-ratio: 2/3;
}

.list_item .img_wrapper > img {
    display: block;
    object-fit: cover;
    object-position: center;
}

.list_item h3 {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.list_item p {
    font-size: 1.2rem;
}